/** Default Styling **/

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F0E08;
  width: 100%;
  height: 100%;
  color: white;
}

a {
  color: white
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.emoji {
  font-size: 1.25rem;
  padding: 0.1rem 0.5rem 0.1rem 0rem;
}

/** COMPONENTS **/

/** Avatar **/

.avatar {
  display: flex;
  justify-content: center;
  padding: 0.25rem;
}

.avCircle {
  display: flex;
  justify-content: center;
  margin: 0.25rem;
  align-items: center;
  border-radius: 100px;
  background-color: #3d3d3d;
  width: 10rem;
  height: 10rem;
}

.avCircle span {
  font-size: 3.5rem;
}

/** Hero **/
.hero {
  display: flex;
  flex-direction: row;
  height: 75vh;
  align-items: center;
  justify-content: center;
}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.hero-items ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero-parallax {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: row;
  max-height: 100px;
}

/** Mars **/

.mars {
  z-index: -100;
  max-width: 450px;
}

.mars-parrallax {
  transition: transform 1s;
}

/** Astronaut **/

.astro {
  max-width: 125px;
  max-height: 6.69rem;
  margin-right: 15%;
  z-index: 10;
  transform: scaleX(-1);
}

/** Stars **/
#tsparticles {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

/** Button & Button Bar **/

.btn-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  margin: .5rem;
  padding: 5px;
  right: 1%;
}

.btn {
  font-size: 2.25rem;
}

.btn:hover {
  transform: scale(1.25, 1.25)
}

